<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="static/libs/materialize.css" />
    <!--
    <link rel="stylesheet" href="static/css/reset.css" />
    -->
    <link rel="stylesheet" href="static/css/style.css" />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aONgqBx7eaWfv2X6RiMyGcWxp6HAwFWi"></script>

    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>

    <script src="static/libs/materialize.min.js"></script>
</head>
<body>
	
<div id="app">
    <div id="map"></div>
    <nav>
        <div class="nav-wrapper row">
            <div class="col s12">
                <canvas id="waterfall"></canvas>
                <a href="#" class="brand-logo">导航路径绘制工具</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="http://developer.baidu.com/map" target="_blank">百度地图开放平台</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tip">地图上可通过右键选择首个起点和终点，文本标注点这下方marker</div>
    <tools></tools>
    <panel></panel>
</div>

<script type="text/x-template" id="form-template">

<div class="row panel commonBox">
    <div class="inner">
        <div class="row">
            <a class="waves-effect light-blue darken-1 btn" v-on:click="addStart">增加起点</a>
            <a class="waves-effect light-blue darken-1 btn" v-on:click="addEnd">增加终点</a>
        </div>
        <div class="row" >
            <form>
            <input type="radio" id="driving" value="driving" v-model="mode">
            <label for="driving">驾车</label>
            <input type="radio" id="walking" value="walking" v-model="mode">
            <label for="walking">步行</label>
            <input type="radio" id="transit" value="transit" v-model="mode">
            <label for="transit">公交</label>
            <input type="radio" id="riding" value="riding" v-model="mode">
            <label for="riding">骑行</label>
            </form>
        </div>
        <div class="row" >
            <form>
            <input type="radio" id="tactics12" value="12" v-model="tactics">
            <label for="tactics12">最短路径</label>
            <input type="radio" id="tactics11" value="11" v-model="tactics">
            <label for="tactics11">最少时间</label>
            <input type="radio" id="tactics10" value="10" v-model="tactics">
            <label for="tactics10">不走高速</label>
            </form>
        </div>
        <div class="input-field" v-for="start in starts">
            <input id="didian" type="text" class="input_starts" value="{{start.name}}" v-model="start.name">
            <label for="didian">起点</label>
            <a href="javascript:void(0)" class="del" v-on:click="removeStart">删除</a>
        </div>
        <div class="input-field" v-for="end in ends">
            <input id="didian" type="text" class="input_ends" value="{{end.name}}" v-model="end.name">
            <label for="didian">终点</label>
            <a href="javascript:void(0)" class="del" v-on:click="removeEnd">删除</a>
        </div>
        <div class="row">
            <a class="waves-effect light-blue darken-1 btn" v-on:click="search">导航搜索</a>
            <a class="waves-effect btn" v-on:click="clear">清空搜索结果</a>
        </div>
        <route-list v-bind:routes="tmpRoutes"></route-list>
        <label-list></label-list>
        <distance-tool></distance-tool>
    </div>
</div>

</script>

<script type="text/x-template" id="distance-tool">
        <div>测距工具</div>
        <a class="waves-effect light-blue darken-1 btn" v-on:click="open">开启</a>
        <a class="waves-effect light-blue darken-1 btn" v-on:click="close">关闭</a>
</script>

<script type="text/x-template" id="route-list">
    <ul class="route-list">
        <li v-for="(i, route) in routes">
            <div>方案{{i + 1}}-<a href="javascript:void(0)" v-on:click="showOne(i)">详情</a></div>
            <ul class="color-list">
                <li v-for="(j, color) in route.colors" :style="{ background: color }" v-on:click="changeColor(i, color)"></li>
            </ul>
            <ul class="step-list" v-show="route._show">
                <li v-for="step in route.result.steps">
                {{{step.instructions}}}
                <li>
            </ul>
            <a href="javascript: void(0)" class="waves-light btn" v-on:click="selectOne(i)">保留此方案</a>
        </li>
    </ul>
    <selected-list v-bind:routes="selectedRoutes"></selected-list>
</script>

<script type="text/x-template" id="selected-list">
    <div>保留的方案:</div>
    <ul class="route-list">
        <li v-for="(i, route) in routes">
            <div>方案{{i + 1}}-<a href="javascript:void(0)" v-on:click="showOne(i)">详情</a></div>
            <ul class="color-list">
                <li v-for="(j, color) in route.colors" :style="{ background: color }" v-on:click="changeColor(i, color)"></li>
            </ul>
            <ul class="step-list" v-show="route._show">
                <li v-for="step in route.result.steps">
                {{{step.instructions}}}
                <li>
            </ul>
            <a href="javascript: void(0)" class="waves-light btn" v-on:click="deleteOne(i)">删除此方案</a>
        </li>
    </ul>
</script>

<script type="text/x-template" id="label-list">
    <div>文本标注编辑:</div>
    <div>
        <a class="waves-effect light-blue darken-1 btn" v-on:click="showMarker">显示拖动标</a>
        <a class="waves-effect btn" v-on:click="hideMarker">隐藏拖动标</a>
    </div>
    <ul class="label-list">
        <li v-for="(i, label) in labels":index="$index">
            <input type="text" v-model="label"/>
            <a href="javascript:void(0)" class="del" v-on:click="remove($index)">删除</a>
            <ul class="color-list">
                <li v-for="color in colors" :style="{ background: color }" v-on:click="changeLabelColor(i, color)"></li>
            </ul>
        </li>
    </ul>
    <div>绘线样式:</div>
    <a class="waves-effect light-blue darken-1 btn" v-on:click="deleteLastPolyline">删除最后绘的线</a>
    <ul class="color-list">
        <li v-for="color in polylineColors" :style="{ background: color }" v-on:click="changeLineColor(color)"></li>
    </ul>
</script>

<script type="text/x-template" id="tools">
    <div class="waves-effect light-blue darken-1 btn toolBtn" v-on:click="toggle">个性化底图配置</div>
    <div class="tools commonBox" v-show="show">
        <div class="input-field">
            <select class="browser-default" v-model="style">
                <option value="normal">默认</option>
                <option value="light">清新蓝风格</option>
                <option value="dark">黑夜风格</option>
                <option value="redalert">红色警戒风格</option>
                <option value="googlelite">精简风格</option>
                <option value="grassgreen">自然绿风格</option>
                <option value="midnight">午夜蓝风格</option>
                <option value="pink">浪漫粉风格</option>
                <option value="darkgreen">青春绿风格</option>
                <option value="bluish">清新蓝绿风格</option>
                <option value="grayscale" selected>高端灰风格</option>
                <option value="hardedge">强边界风格</option>
            </select>
        </div>
    </div>
</script>

<script type="text/javascript" src="build/index.js"></script>
<!--
<script type="text/javascript" src="static/script/water.js"></script>
-->

</body>
</html>
