.canvas {
    position: absolute !important;
    bottom: 50px;
    right: 0px;
    width: 512px;
    height: 256px;
    z-index: 10;
}

.dashboard {
    width: 200px;
    height: 100px;
    position: absolute !important;
    bottom: 350px;
    right: 0;
    box-sizing: border-box;
    padding: 12px;
    border: 3px dashed #000000;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 70px;
    background: #444444;
}

.dashboard:hover{
    background: #666666;
}

.upload{
    position: absolute !important;
    top: 5px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.change{
    position: absolute !important;
    top: 5px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.change:hover{
    background: #40a9ff;
}

.dg.ac {
    z-index: 999 !important;

    input {
        line-height: 16px;
    }
}