.canvas {
    position: absolute !important;
    bottom: 50px;
    right: 0px;
    width: 512px;
    height: 256px;
    z-index: 10;
}

.select{
    position: absolute !important;
    top: 5px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.change{
    position: absolute !important;
    top: 50px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.change:hover{
    background: #40a9ff;
}

.dg.ac {
    z-index: 999 !important;

    input {
        line-height: 16px;
    }
}