.canvas {
    position: absolute !important;
    bottom: 40px;
    right: 0px;
    width: 298px;
    height: 96px;
    // width: 256px;
    // height: 128px;
    z-index: 10;
    transform: scale(2);
    transform-origin: right bottom;
}

.dashboard {
    width: 200px;
    height: 100px;
    position: absolute !important;
    top: 0;
    box-sizing: border-box;
    padding: 12px;
    border: 3px dashed #000000;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    line-height: 70px;
    background: #444444;
}

.dashboard:hover{
    background: #666666;
}

.change{
    position: absolute !important;
    bottom: 256px;
    right: 0px;
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.fileUpload{
    position: absolute !important;
    top: 10px;
    width: 300px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
}

.show{
    position: absolute !important;
    width: 160px;
    bottom: 256px;
    right: 438px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
    background: #3290ff;
    text-align: left;
    padding-left: 20px;
    p{
        margin-bottom: 0;
    }
}

.change:hover{
    background: #40a9ff;
}

.dg.ac {
    z-index: 999 !important;

    input {
        line-height: 16px;
    }
}