html, body, .container, .map{
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.container {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.map{
    position:absolute;
    left: 350px;
    top: 0;
    right: 0;
    bottom: 0;
}

.full-map .map{
    left: 0;
}

.commonBox {
    position:absolute;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    border-radius: 3px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel {
    width: 350px;
    padding: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    position: absolute;
}

.is-full-map-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 999;
}

.route-list {
}

.route-list > .route-list-item{
    border: 1px solid #E4E6E7;
    padding: 5px;
    margin: 5px;
    line-height: 38px;
    overflow:hidden;
    position:relative;
}

.route-list > .route-list-item.current{
    border: 1px solid #E4E6E7;
}

.route-list > .route-list-item .btn{
    position: absolute;
    right: 10px;
    top: 5px;
}

.weight-list,
.color-list {
    overflow:hidden;
}

.color-list li{
    float: left;
    width: 15px;
    height: 15px;
    background: black;
    margin-right:5px;
    margin-top:5px;
    cursor: pointer;
}

.weight-list li{
    float: left;
    margin-right: 5px;
    cursor:pointer;
}



